@import 'code';
body {
    --bg-color: #f0f0f0;
    --bg-trans: #fff;
    --body-color: #444;
    --link-color: #101010;
    --fontA: 'Karla',sans-serif;
    --fontB: 'Roboto',sans-serif;
    --radius: .5rem;
    --space: 2.5rem;
    --primary-color: #43a047;

    font-family: var(--fontB);
    background: var(--bg-color);
    color: var(--body-color);
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--fontA);
        font-weight: 700;
    }
    a {
        color: var(--link-color);
        &:hover {
            color: var(--link-color);
            opacity: .8;
        }
    }
    b,strong {
        font-weight: 700!important;
    }
    #app {
        margin-top: 6rem;
    }
    .btn {
        font-family: var(--fontA);
        font-weight: 700;
        border-radius: var(--radius);
        padding: .5rem 1.25rem;
        &.btn-primary {
            background-color: var(--link-color)!important;
            border-color: var(--link-color)!important;
        }
    }
    .container-xs {
        max-width: 600px;
        margin: 0 auto;
    }
    .card {
        background: var(--bg-trans);
        border-radius: var(--radius);
        border: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        svg {
            color: var(--link-color);
        }
        .navbar-toggler {
            color: var(--link-color);
            span  {
                color: var(--link-color);
            }
        }
        .navbar-nav {
            .nav-link {
                color:var(--link-color);
                font-family: var(--fontA);
                margin-right: 10px;
                .toggle-theme {
                    color:var(--link-color);
                }
            }
        }
    }
    .author_info {
        margin: 5rem auto 4rem;
        .canvas {
            display: inline-block;
            border-radius: 100%;
            background: var(--bg-color);
            padding: 10px;
            border: 4px solid var(--link-color);
            .author_image {
                border-radius: 100%;
                mix-blend-mode: luminosity;
            }
        }
        .author_image_mask {
            opacity: .2;
            filter: blur(17px);
            position: absolute;
            border-radius: 100%;
            transform: scale(1.5);
        }
        .info_section {
            h1 {
                color: var(--link-color);
            }
            .link {
                a {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: var(--link-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--link-color);
}
body[data-theme='light'] {
    @media screen and (max-width:991px) {
        .navbar {
            background: #101010;
        }    
    }
}
body[data-theme='dark'] {
    --bg-color: #101010;
    --bg-trans: rgba(255,255,255,.05);
    --body-color: #fff;
    --link-color: #43a047;
    @media screen and (max-width:991px) {
        .navbar {
            background: rgba(16,16,16,.6);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            .navbar-nav {
                .nav-link {
                    color:var(--link-color);
                }
            }
        }
    }
}
@media screen and (max-width:991px) {
    .container-xs {
        padding: 0 2rem;
    }
    .footer {
        margin-top: 4rem;
    }
}