@import 'code';
body {
    --bg-color: #f0f0f0;
    --bg-trans: #fff;
    --body-color: #444;
    --link-color: #101010;
    --fontA: 'Karla',sans-serif;
    --fontB: 'Roboto',sans-serif;
    --radius: .5rem;
    --nav-color: #43a047;

    font-family: var(--fontB);
    background: var(--bg-color);
    color: var(--body-color);
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--fontA);
        font-weight: 700;
    }
    a {
        color: var(--link-color);
        &:hover {
            color: var(--link-color);
            opacity: .8;
        }
    }
    b,strong {
        font-weight: 700!important;
    }
    #app {
        margin-top: 6rem;
    }
    .container-xs {
        max-width: 600px;
        margin: 0 auto;
    }
    .card {
        background: var(--bg-trans);
        border-radius: var(--radius);
        border: none;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        svg {
            color: var(--nav-color);
        }
        .navbar-nav {
            .nav-link {
                color:var(--nav-color);
                font-family: var(--fontA);
                .toggle-theme {
                    color:var(--nav-color);
                }
            }
        }
    }
    .author_info {
        margin: 4rem auto;
        .author_image {
            border-radius: 100%;
            padding: 1rem;
            border: 4px solid var(--link-color);
        }
        .author_image_mask {
            opacity: .2;
            filter: blur(20px);
            position: absolute;
            border-radius: 100%;
            transform: scale(1.5);
        }
        .info_section {
            h1 {
                color: var(--link-color);
            }
            .link {
                a {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    pre {
        color: var(--body-color);
        background: var(--bg-trans);
        padding: 2rem;
    }
}
body[data-theme='light'] {
    .navbar {
        background: #101010;
    }
}
body[data-theme='dark'] {
    --bg-color: #101010;
    --bg-trans: rgba(255,255,255,.05);
    --body-color: #fff;
    --link-color: #43a047;
    .navbar-dark {
        .navbar-nav {
            .nav-link {
                color:var(--link-color);
            }
        }
    } 
}